#All{
    /* margin: 1em auto; */
    /* width: 90%; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container{
    /* width: 30%; */
    background-color: rgba(229, 255, 80, 0.432);
    /* margin: 1em; */
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgb(27, 151, 83);
}
#All1{
    /* margin: 1em auto; */
    /* width: 90%; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container1{
    /* width: 30%; */
    background-color: rgba(229, 255, 80, 0.432);
    /* margin: 1em; */
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgb(27, 151, 83);
}
#All2{
    /* margin: 1em auto; */
    /* width: 90%; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container2{
    /* width: 30%; */
    background-color: rgba(229, 255, 80, 0.432);
    /* margin: 1em; */
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgb(27, 151, 83);
}
/* .container >img{
    /* width: 200px;
    height:200px;
    border-radius: 100%;
    border: 2px solid rgb(126, 27, 151); 
} */